<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MongoDB</title>
    <!-- Bootstrap local -->
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <style>
        .nav-link.pastel-nav {
            color: #ffb6c1; /* Cambia el color de los enlaces */
            font-weight: bold;
        }

            .nav-link.pastel-nav:hover {
                color: #ffa6b8;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color:#ff6892; color:black">
            <div class="container">
                <!-- Redirige al método Index del controlador Home -->
                <a class="navbar-brand" asp-controller="Database" asp-action="Index">Admin MongoDB</a>
                <a class="nav-link pastel-nav" asp-controller="ExportImport" asp-action="Backups">Ver Backups</a>
                <a class="nav-link pastel-nav" asp-controller="ExportImport" asp-action="ImportExport">Importar / Exportar</a>

            </div>
        </nav>
    </header>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <!-- Bootstrap local JS -->
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Tu JS adicional (si lo hay) -->
    @RenderSection("Scripts", required: false)
</body>
</html>
