.bg-pink {
    background-color: #e91e63 !important;
}

.bg-lightpink {
    background-color: #f8bbd0 !important;
}

.text-pink {
    color: #e91e63 !important;
}

.btn-pink {
    background-color: #e91e63;
    color: white;
}

    .btn-pink:hover {
        background-color: #d81b60;
        color: white;
    }

.btn-outline-pink {
    border-color: #e91e63;
    color: #e91e63;
}

    .btn-outline-pink:hover {
        background-color: #e91e63;
        color: white;
    }
